/**
 * Main App Styles
 */

@import "~bootstrap/scss/bootstrap";

body {
	@extend .bg-dark;
	@extend .text-white;
}

/*
 * Loading spinner
 */
#loading-spinner {
	position: absolute;
	right: 1em;
	top: 1em;
}

/*
 * Current Weather Conditions
 */
.current-weather {
	.current-weather-conditions {
		margin-top: 1.5rem;

		.current-weather-condition {
			background-color: #aaa;
			border-radius: 200%;
		}
	}
}

/*
 * Playlist
 */
.playlist-card {
	@extend .text-dark;

	.card-title a {
		@extend .text-dark;
	}
}
